body {
    font-family: sans-serif;
    text-align: center;
    padding: 50px 20px;
    background: #333;
}

.btn a {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    background: #999;
    border-radius: 5px;
    border-bottom: 4px solid #666;
    color: #FFF;
    margin: 0 auto;
}

.btn:hover {
    background: rgba(0,0,0,0.1);
    border-color: #fff;
    color: #fff;
}

.btn:active {
    background: #db3452;
    border-color: #db3452;
}