body {
    font-family: sans-serif;
    text-align: center;
    padding: 50px 20px;
    background: #333;
}

#btn {
    display: inline-block;
    padding: 15px 80px;
    font-size: 24px;
    color: rgba(255,255,255,.5);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,.5);
}

#btn:hover {
    background: rgba(0,0,0,0.1);
    border-color: #fff;
    color: #fff;
}

#btn:active {
    background: #db3452;
    border-color: #db3452;
}